<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Order</h4>
                        <p class="card-category">Place Your Order</p>
                    </div>
                    <div class="card-body">
                        <mat-horizontal-stepper linear #stepper>
                            <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
                                <form [formGroup]="firstFormGroup">
                                    <ng-template matStepLabel>Create Order</ng-template>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <mat-form-field>
                                                    <mat-label> Category</mat-label>
                                                    <mat-select formControlName="selectedProductCategory"
                                                        (selectionChange)="getproductbyId($event)" required>
                                                        <mat-option *ngFor="let category of productCategories"
                                                            [value]="category.productCategoryId">
                                                            {{ category.name }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field>
                                                    <mat-label>Product</mat-label>
                                                    <mat-select formControlName="selectedProduct" required>
                                                        <mat-option *ngFor="let product of products"
                                                            [value]="product.productId">
                                                            {{ product.name }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4">
                                                <mat-form-field>
                                                    <mat-label>Quantity</mat-label>
                                                    <input matInput formControlName="Qty" placeholder="Quantity"
                                                        type="number" required>
                                                </mat-form-field>
                                            </div>
                                            <br />
                                            <button mat-raised-button color="primary" type="button"
                                                (click)="saveOrder()">Add
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body" *ngIf="orderlist">
                                        <table class="table table-striped table-bordered">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col" *ngFor="let header of headerlist">{{ header }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let order of orderlist">
                                                    <td> {{ order.productName }}</td>
                                                    <td> {{ order.quantity }}</td>
                                                    <td> {{ order.price }}</td>
                                                    <td> {{ order.amount }}</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">Grand Total (TAX not included)</td>
                                                    <td> {{ grandTotal }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button mat-raised-button color="warn" type="button"
                                            (click)="cancelOrder()">Cancel
                                        </button>
                                    </div>

                                    <div>
                                        <button mat-button matStepperNext>Next</button>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
                                <form [formGroup]="secondFormGroup">
                                    <ng-template matStepLabel>Check out</ng-template>
                                    <mat-label>Customer Details</mat-label>
                                    <div class="card-body row">
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <input matInput formControlName="phnnumber"
                                                    placeholder="Customer contact number">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Customer Name</mat-label>
                                                <input matInput formControlName="custname" placeholder="Customer Name">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Customer Email</mat-label>
                                                <input matInput formControlName="custemail"
                                                    placeholder="Customer Email">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="card-body row" *ngIf="showButton">
                                        <div class="col-sm-4">
                                            <button mat-raised-button color="primary" type="button"
                                                class="btn-primary btn-sm" (click)="completeOrder()">Confirm Order
                                            </button>
                                        </div>
                                        <div class="col-sm-4">
                                            <button mat-raised-button color="warn" type="button"
                                                class="btn-danger btn-sm" (click)="cancelOrder()">Cancel Order
                                            </button>
                                        </div>
                                    </div>
                                    <div id="receipt" class="card-body" *ngIf="orderlist">
                                        <table class="table table-striped table-bordered">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col" *ngFor="let header of headerlist">{{ header }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let order of orderlist">
                                                    <td> {{ order.productName }}</td>
                                                    <td> {{ order.quantity }}</td>
                                                    <td> {{ order.price }}</td>
                                                    <td> {{ order.amount }}</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">Grand Total (TAX not included)</td>
                                                    <td> {{ grandTotal }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- <button *ngIf="!showButton" mat-raised-button color="primary"
                                            printSectionId="receipt" class="btn-primary btn-sm" ngxPrint>Print
                                            Invoice</button> -->

                                        <!-- <button *ngIf="!showButton" mat-raised-button color="primary" type="button"
                                            class="btn-primary btn-sm" (click)="completeOrder()">Print Invoice
                                        </button> -->
                                    </div>
                                    <br />

                                    <button *ngIf="!showButton" mat-raised-button (click)="print()">Print
                                        Invoice</button> <br />
                                    <div>
                                        <button mat-button matStepperPrevious>Back</button>
                                        <button mat-button matStepperNext>Next</button>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step>
                                <ng-template matStepLabel>Done</ng-template>
                                <p>You are now done.</p>
                                <div>
                                    <button mat-button matStepperPrevious>Back</button>
                                    <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
                                    <button mat-button (click)="reload()">Reset</button>
                                </div>
                            </mat-step>
                        </mat-horizontal-stepper>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>


    </div>
</div>