<!-- 
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <mat-form-field>
                    <mat-label>Product</mat-label>
                    <input matInput formControlName="selectedProduct" placeholder="Quantity" required>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field>
                    <mat-label>Quantity</mat-label>
                    <input matInput formControlName="Qty" placeholder="Quantity" type="number" required>
                </mat-form-field>
            </div>
            &nbsp;
            <button mat-button color="primary" type="button" class="btn-primary btn-sm" (click)="saveOrder()">Add
            </button>
        </div>
    </div>
    <div class="card-body" [hidden]='!showOrders'>
        <h1>Hello</h1>
        {{ selectedProduct  }}
        {{ Qty  }}
    </div> -->


